body {
    font-family: "Cantarell", sans-serif;
    text-align: center;
}

h1, h3 {
    font-size: 1em;
}

h2 {
    font-size: 1.5em;
}

main, nav {
    padding: 3em;
    margin: 0 auto;
    max-width: 55em;
}

nav {
    padding: .5em 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

a {
    text-decoration: inherit;
    color: inherit;
}

nav h1 {
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
}

.row div, .row a {
    width: 10em;
    margin: 0 .5em 2em;
    padding: 0 0 1em;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.row img {
    width: 100%;
}

hr {
    border-color: #dbdbdb;
    max-width: 20em;
}
