:root {
    --space: .6rem;
}

* {
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    box-shadow: 0 0 .2em rgba(17,17,17,.2);
    display: flex;
    justify-content: space-between;
}

nav > a {
    padding: var(--space);
}

h1 {
    font-size: 1.5em;
    margin: var(--space);
}

h2 {
    text-transform: uppercase;
    color: rgba(0,0,0,.4);
    margin: var(--space);
    font-size: 1em;
}

hr {
    margin: var(--space);
    color: rgba(0,0,0,.4);
}

.grid {
    display: grid;
    grid-gap: var(--space);
    grid-template-columns: auto auto;
    margin: var(--space);
    max-width: 1140px;
}

.grid img {
    width: 100%;
    height: auto;
}

.grid p {
    margin: 0;
}

.grid p:last-child {
    color: rgba(0,0,0,.4);
}

p {
    margin: var(--space);
}

video {
    width: 100%;
    height: auto;
}

.video-channel img {
    width: 5rem;
    height: 5rem;
    margin-right: var(--space);
}

.video-channel {
    display: flex;
    align-items: center;
}

.video-description {
    max-height: 15rem;
    overflow: auto;
}
