<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrivacyTube</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <nav>
            <h1><router-link to="/">PrivacyTube</router-link></h1>
            <form @submit.prevent="$router.push({path: '/search', query: {q}})">
                <input type="search" placeholder="Search" v-model="q">
            </form>
        </nav>

        <main v-if="instances === null"><p>Loading instances...</p></main>
        <router-view v-else></router-view>
    </div>

    <script src="https://unpkg.com/vue@3.2.29/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4.1.5/dist/vue-router.global.js"></script>
    <script src="js/app.js" type="module"></script>
</body>
</html>
