---
title: Search
---
<section id="search">
    <h2>Search results for '{{"{{"}}q}}'</h2>
    <div class="flex five">
        <div v-for="channel in results">
            <div class="card">
                <img v-bind:src="authorThumbnail(channel.authorThumbnails)">
                <footer>
                    <h4>{{"{{"}}channel.author}}</h4>
                    <button v-if="$localStorage.get('subscriptions').includes(channel.authorId)" v-on:click="unsubscribe(channel.authorId)" class="pseudo">Unsubscribe</button>
                    <button v-else v-on:click="subscribe(channel.authorId)">Subscribe</button>
                </footer>
            </div>
        </div>
    </div>
</section>
