header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 3em;
    padding: 0 .6em;
    background-color: white;
    z-index: 100;
    box-shadow: 0 0 0 .2em rgba(17,17,17,.2);
}

header > a {
    color: black;
}

header > label, button, input[type="submit"] {
    cursor: pointer;
    border-radius: .2em;
    padding: .3em .9em;
    margin: .3em 0;
    background-color: transparent;
    transition: background-color .3s;
    display: inline-block;
}

header > label:hover, button:hover, input[type="submit"]:hover {
    background-color: rgba(17,17,17,.1);
}
