main {
    padding: 10px;
    max-width: 1400px;
    width: 100%;
    margin: 60px auto;
}

h1 {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}