<main>
    <section id="channel">
        <div id="channelImage">
            <img alt="Channel image of {{name}}" src="{{image}}">
        </div>
        <h1>{{name}}</h1>
        <div id="channelSubscribe">
            <form action="./channel.php?c={{id}}" method="post">
                <p><input name="{{action}}" type="submit" value="{{actionValue}}"></p>
            </form>
        </div>
    </section>
    <section id="videos">
        <h2>Uploads</h2>
        <div class="videos">
            {{videos}}
        </div>
    </section>
</main>
