<main>
    <section id="channel">
        <div id="channelImage">
            <img alt="Channel image of {{name}}" src="{{image}}">
        </div>
        <div id="channelName">
            <h1>{{name}}</h1>
            <p>{{subscribers}} Subscribers</p>
        </div>
        <div id="channelSubscribe">
            <form action="./channel?c={{id}}" method="post">
                <p><input name="subscribe" type="submit" value="Subscribe"></p>
            </form>
        </div>
    </section>
</main>
