<main>
    <section id="video">
        <video autoplay controls src="{{videoURL}}"></video>
        <script>
            var video = document.getElementsByTagName("video")[0];
            video.currentTime = {{progress}};
            video.addEventListener("timeupdate", () => {
                var xhttp = new XMLHttpRequest();
                xhttp.open("GET", "save-video-progress.php?v={{videoID}}&p=" + video.currentTime);
                xhttp.send();
            });
        </script>
    </section>
    <section id="videoInfo">
        <div>
            <h1>{{videoTitle}}</h1>
            <p>{{videoViews}} Views</p>
        </div>
        <hr>
        <div>
            <a href="./channel.php?c={{channelId}}"><img alt="Channel image of {{channelName}}" src="{{channelImage}}"></a>
            <p><a href="./channel.php?c={{channelId}}">{{channelName}}</a><br>{{channelSubscribers}} Subscribers</p>
            <p>{{videoLikes}} Likes {{videoDislikes}} Dislikes<br>Uploaded on {{videoDate}}</p>
        </div>
        <hr>
        <p>{{videoDescription}}</p>
    </section>
    <section id="related">
        <h2>Related</h2>
        <div class="videos">
            {{related}}
        </div>
    </section>
</main>
